/* reset */
*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	/*padding: 0;*/
}

/* document */
body {
	font-size: 1rem;
	font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;

}

/* images */
a[hreflang="it"]::before {
	background: url("../../media/flag-it.svg");
}
a[hreflang="fr"]::before {
	background: url("../../media/flag-fr.svg");
}
a[hreflang="en"]::before {
	background: url("../../media/flag-en.svg");
}
a[hreflang]::before {
	content: '';
	-webkit-background-size: 22px 18px;
	background-size: 22px 18px;
	width: 22px;
	height: 18px;
	margin-right: 3px;
	display: inline-block;
}


.smallCentered {
	width: 30em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/* medias */
iframe {
	border: none;
	overflow: hidden;
}
/* round corners*/
figure.calculator > iframe, button, fieldset, select {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
/*Shaddow*/
figure.calculator > iframe, button {
	border: none;
	-webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.3);
}

figure {
	margin: 0px 10px 10px 0px;
}
figure.smallImage {
	float: left;
	width: 200px;
}
figure.fullPageVideo {
}

figure > video {
	width: 100%;
}

figure.youtube > iframe {
	width: calc(0.5*90vw);
	height: calc(0.5*90vw * 9 / 16);
}


figure.calculator > iframe {
	width: calc(0.5*90vw);
	height: calc(0.5*90vw*1.13);
}

figure > img {
	margin: 10px 0 10px 0;
}

figcaption {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	margin: 0.5em 1em 0 0;
	margin-right: 7px;
	font-size: small;
	color: grey;
}

small.source {
	color: grey;
	margin: 10px 0 20px 0;
	display: block;
}

/* titles */
body > header {
	float: none;
	margin-bottom: 40px;
}
body > header > a {
	float: left;
	position: relative;
	display: inline;
	margin-right: 10px;
	padding: 5px;
}
nav, main {
	padding-left: 5px;
	counter-reset: h3counter;
}

h1 {
	width: 100%;

	font-size: 53px;
	color: #fff;
	padding: 10px;
	background: #005092;
	float: none;
}

h2 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 35px;
	display: block;
}

h3 {
	font-size: 26px;
	border-bottom: solid 1px;
	width: 100%;
	margin-bottom: 10px;
}
h3:before {
	content: counter(h3counter) "\0000a0\0000a0";
	counter-increment: h3counter;
}

/* nav */
nav > * {
	padding-left: 0px;
}

nav a {
	color: #005092;
}

nav a:hover {
	text-decoration: none;
}

/* text */
p {
	margin: 10px 0px;
}

main a {
	color: #000;
}


article {
	display: block;
	overflow: hidden;
	margin: 1em 1em 1em 5px;
}

article > footer {
	width: 100%;
	border: dotted 1px;
	padding: 3px 3px 3px 0;
	font-style: italic;
	font-size: small;
	margin: 1em 0;
}
article > footer > time {
	float: right;
}

/* lists */
nav > ul {
	list-style-type: none;
	padding: 10px 5px;
	border: solid 1px #005092;
}
nav > ul > li > ul {
	list-style-type: none;
}

dt {
	padding: 0;

	font-weight: bold;
	color: #005092;
}

dd {
	padding-left: 1em;
	font-weight: normal;
	color: #000;
}

dd:before {
	content: "\2316";
	padding-right: 5px;
}

article > ol, article > ol li {
	margin-left: 0;
	padding-left: 0;
}
article > ol {
	list-style-position: inside;
}

/* table */
table {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}
th, td {
	padding: 7px;
}
thead > tr > th {
	background: #005092;
	color: #fff;
}
thead > tr {
	padding: 0;
	border: none;
	border-collapse: collapse;
	border-top: solid 3px;
	border-bottom: solid 3px;
}
tbody > tr > th {
	text-align: left;
}

tr:nth-child(even) {
	background: rgba(81, 134, 221, 0.26);
	border-top: solid 1px #778bc4;
	border-bottom: solid 1px #778bc4;
}


/* forms */

button {
	background: #005092;
	color: #fff;
	font-size: 1em;
	padding: 3px 10px;
	margin-top: 8px;
}
button:hover {
	color: #D5CFD0;
}

button > img {
	height: 1em;
}

input:not([type="file"]), textarea {
	border: none;
	border-bottom: solid 1px #000;

	padding: 3px;

	font-size: 110%;
	color: #000;
}

input:focus:not([type="file"]), textarea:focus {
	outline: none;
	border: none;
	border-bottom: solid 1px #005092;

	color: #005092;
}

fieldset {
	border: solid 1px #c0bac2;
}
fieldset > legend {
	padding: 0;
}

label {
	margin-top: 0.5rem;
	color: #c0bac2;
}
label, input:not([type="radio"]):not([type="checkbox"]):not([type="search"]), textarea, select {
	display: block;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="search"]):not([type="range"]), textarea, select {
	width: 100%;
}
select {
	border: 1px solid #000;
}
select:focus {
	border: 1px solid orange;
}
select option:hover {
	box-shadow: 0 0 10px 100px #1882A8 inset;
	outline-color: orange;
}

label:after {
	content: '\A';
	white-space: pre;
}


#font-size-form {
	float: right;
}
#font-size-form > label, #font-size-form > input, #font-size-form > output {
	display: inline-block;
	vertical-align: middle;
	padding: 0; margin: 0;
}

/* footer */
body > footer {
	margin: 10px 0 20px 0;
	padding: 10px 5px;
	background: #005092;
	width: 100%;
	color: #fff;
}
body > footer img {
	vertical-align: middle;
}
body > footer a {
	color: #fff;
}

body > footer a:hover {
	text-decoration: none;
}

