/* reset */
*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	/*padding: 0;*/
}

/* document */
body {
	font-size: 1rem;
	font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
	counter-reset: h2counter;
}




/* images */
a[hreflang="it"]::before {
	background: url("../../media/flag-it.svg");
}
a[hreflang="fr"]::before {
	background: url("../../media/flag-fr.svg");
}
a[hreflang="en"]::before {
	background: url("../../media/flag-en.svg");
}
a[hreflang]::before {
	content: '';
	-webkit-background-size: 22px 18px;
	background-size: 22px 18px;
	width: 22px;
	height: 18px;
	margin-right: 3px;
	display: inline-block;
}



/* medias */
iframe {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: none;
	-webkit-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.3);
}
figure {
	margin: 0px 10px 10px 0px;
}
figure.smallImage {
	float: left;
	width: 200px;
}
figure.fullPageVideo {
}

figure > video {
	width: 100%;
}

figure > iframe {
	position: relative;
	width: 50%;
	overflow: hidden;

}
figure > iframe:before {
	content: "";
	display: block;
	padding-top: 100%;
}

figure > img {
	margin: 10px 0 10px 0;
}

figcaption {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	margin-right: 7px;

	font-size: small;
	color: grey;
}

small.source {
	color: grey;
	margin: 10px 0 20px 0;
}

/* titles */
body > header {
	float: none;
	margin-bottom: 40px;
}
body > header > a {
	float: left;
	position: relative;
	display: inline;
	margin-right: 10px;
	padding: 5px;
}
h1 {
	width: 100%;

	font-size: 53px;
	color: #fff;
	padding: 10px;
	background: #005092;
	float: none;

}

h2 {
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 40px;
	display: block;
	counter-reset: h3counter;
}
h3 {
	font-size: 26px;
	border-bottom: solid 1px;
	width: 100%;
	margin-bottom: 10px;
}
h3:before {
	content: counter(h3counter) "\0000a0\0000a0";
	counter-increment: h3counter;
}

/* nav */
nav > * {
	padding-left: 0px;
}

nav a {
	color: #005092;
}

nav a:hover {
	text-decoration: none;
}

/* text */
p {
	margin: 10px 0px;
}

main a {
	color: #000;
}


section {
	display: block;
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}

section > footer {
	width: 100%;
	border: dotted 1px;
	padding: 3px 3px 3px 0;
	font-style: italic;
	font-size: small;
}
section > footer > time {
	float: right;
}

/* lists */
nav > ul {
	list-style-type: none;
	padding: 10px 5px;
	border: solid 1px #005092;
}
nav > ul > li > ul {
	list-style-type: none;
}

section > ul {
	list-style-type: none;
	list-style-position: inside;
	padding: 0;

	font-weight: bold;
	color: #005092;
}

section > ul > li > ul {
	list-style: none;
	padding-left: 10px;
	font-weight: normal;
	color: #000;
}

section > ul > li > ul > li:before {
	content: "\2316";
	padding-right: 5px;
}


/* table */
table {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}
th, td {
	padding: 7px;
}
thead > tr > th {
	background: #005092;
	color: #fff;
}
thead > tr {
	padding: 0;
	border: none;
	border-collapse: collapse;
	border-top: solid 3px;
	border-bottom: solid 3px;
}
tbody > tr > th {
	text-align: left;
}

tr:nth-child(even) {
	background: rgba(85, 128, 219, 0.47);
	border: solid 1px #457fc4;
}


/* forms */

label:after {
	content: '\A';
	white-space: pre;
}


#font-size-form {
	float: right;
}
#font-size-form > label, #font-size-form > input, #font-size-form > output {
	display: inline-block;
	vertical-align: middle;
	padding: 0; margin: 0;
}

