/* reset */
*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	/*padding: 0;*/
}

/* document */
body {
	font-size: 1rem;
	font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
	counter-reset: h2counter;
}



/* images */
a[hreflang="it"]::before {
	background: url("../../media/flag-it.svg");
}
a[hreflang="fr"]::before {
	background: url("../../media/flag-fr.svg");
}
a[hreflang="en"]::before {
	background: url("../../media/flag-en.svg");
}
a[hreflang]::before {
	content: '';
	-webkit-background-size: 22px 18px;
	background-size: 22px 18px;
	width: 22px;
	height: 18px;
	display: inline-block;
}

/* titles */
body > header {
	float: none;
	margin-bottom: 40px;
}
h1 {
	width: 100%;

	font-size: 53px;
	color: #fff;
	padding: 10px;
	background: #4c69bd;
	float: none;

}

header > a {
	float: left;
	position: relative;
	display: inline;
	margin-right: 10px;
	padding: 5px;
	background: url("../media/logo-wikipraktika.svg");
}
h2 {
	margin-top: 30px;
	font-size: 40px;
	display: block;
	counter-reset: h3counter;
}
h3:before {
	content: counter(h3counter) "\0000a0\0000a0";
	counter-increment: h3counter;
}

/* nav */
nav > * {
	padding-left: 0px;
}


/* text */



/* lists */
nav > ul {
	list-style-type: none;
	padding: 10px 5px;
	border: solid 1px;
}
nav > ul > li > ul {
	list-style-type: none;
}


/* table */



/* forms */

label:after {
	content: '\A';
	white-space: pre;
}


#font-size-form {
	float: right;
}
#font-size-form > label, #font-size-form > input, #font-size-form > output {
	display: inline-block;
	vertical-align: middle;
	padding: 0; margin: 0;
}

